<!DOCTYPE html>
<html>
  <head>
    <meta lang="en" />
    <meta charset="UTF-8" />
    <title>Hey look at me go Ma!</title>
  </head>
  <body>
    <h1>This is my first time using EJS <%= name %>!</h1>
  </body>
</html>
