html
  head 
    title Simple template 
  body 
    include ./header.pug 
    h3 I'm the main content
    include ./footer.pug 
    //by including the footer and header, we can use these across
    //our website and not have to add them every time. 
    //useful with sites that have the same header/footer and logo throughout.