html
  head 
    title Simple Template
  body 
    if(user)
      h1 Hi, #{user.name}
    else
      a(href = '/sign_up') Sign up

    //simple if else to work out if someone is already logged in or needs to log in
